<%- include('partials/navbar') %>
<div class="container">
    <div class="container-fluid">
        <% articles.forEach(news=>{%> 
        <a class="wrapper" href="/post/<%=news._id%>">
            <div class="image-wrap">
                <img class="image" src="data:<%=news.photos.imageType%>;base64,<%=news.photos.imageBase%>" alt="OnePlus photo">
            </div>
            <div>
                <h4><%=news.title%> </h4>
                <p><%=news.content.substring(0, 30)%> ... </p>
            </div>
        </a>
        <% }); %> 
    </div>
</div>